<%= form_tag({controller: "connectors", action: "add_field"}, method: "post") do %>
<div>
<%=label_tag :gemeral_name %>
<%= text_field_tag :general_name %>
</div>
<div>
<%=label_tag :specific_name %>
<%= text_field_tag :specific_name %>
</div>
<div>
<%=label_tag :definition %>
<%= text_field_tag :definition %>
</div>
<div>
<%=label_tag :datatype %>
<%= text_field_tag :datatype %>
</div>
<div>
<%= hidden_field_tag 'connector',@connector.id %>
<%= submit_tag 'Save' %>
</div>
<% end %>
