<p id="notice"><%= notice %></p>
<h3>Meta</h3>
<div>
  <strong>Name:</strong>
  <%= @connector.name %>
</div>
<div>
  <strong>Source:</strong>
  <%= @connector.source %>
</div>
<div>
  <strong>Description:</strong>
  <%= @connector.description %>
</div>
<div>
  <strong>Cost:</strong>
  <%= @connector.cost %>
</div>
<div>
  <strong>Region:</strong>
  <%= @connector.region %>
</div>
<div>
  <strong>Inputs:</strong>
  <%= @connector.inputs %>
</div>
<div>
  <strong>Use Cases:</strong>
  <%= @connector.use_cases %>
</div>
<div>
  <strong>In Platform:</strong>
  <%= @connector.gateway %>
</div>
<div>
  <strong>End Use:</strong>
  <%= @connector.end_use %>
</div>
<div>
  <strong>Resale Use:</strong>
  <%= @connector.resale_use %>
</div>
<div>
  <strong>Test Resale Use:</strong>
  <%= @connector.test_resale %>
</div>
<div>
  <strong>Integrator Use:</strong>
  <%= @connector.integrator_use %>
</div>
<div>
  <strong>FCRA:</strong>
  <%= @connector.fcra %>
</div>
<div>
  <strong>Footprint:</strong>
  <%= @connector.footprint %>
</div>
<div>
  <strong>Server Region:</strong>
  <%= @connector.server_region %>
</div>
<div>
  <strong>Notes:</strong>
  <%= @connector.notes %>
</div>

<%= link_to 'Edit', edit_connector_path(@connector) %> |
<%= link_to 'Back', connectors_path %>

<h3>New Field</h3>
<%= render 'newfield'%>


<h3>Fields</h3>
	<table>
		<tr>
			<th>General Name</th>
			<th>Specific Name</th>
			<th>Description</th>
			<th>Data Type</th>
		</tr>
		<% @connector.links.each do |l| %>
		<% f = l.field %>
		<tr>
			<td><%=f.name%></td>
			<td><%=l.specific_name%></td>
			<td><%=f.definition%></td>
			<td><%=f.datatype%></td>
	        <td><%= link_to 'Show', f %></td>
	        <td><%= link_to 'Edit', edit_field_path(f) %></td>
	        <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</table>