<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @field.name %>
</div>

<div>
  <strong>Definition:</strong>
  <%= @field.definition %>
</div>

<div>
  <strong>DataType:</strong>
  <%= @field.datatype %>
</div>

<table>
	<tr>
		<th>Connector</th>
		<th>Definition</th>
		<th></th>
	</tr>
	<% @field.links.each do |l| %>
	<% c = l.connector %>
	<tr>
		<td><%=c.name %></td>
		<td><%=c.description %></td>
		<td><%= link_to 'Show', c %></td>
	</tr>
	<% end %>
</table>
	

<%= link_to 'Edit', edit_field_path(@field) %>